[submodule "ds005165"]
	path = sourcedata/ds005165
	url = https://github.com/OpenNeuroDatasets/ds005165.git
[submodule "ds005165-fmriprep"]
	path = derivatives/fMRIPrep-25.1.3
	url = https://github.com/OpenNeuroDerivatives/ds005165-fmriprep.git
